<section @fadeInAnimation>
<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<h2>Major/Class Information</h2>

<a class="btn btn-primary" routerLink="/majorClass/add">Add Major/Class</a>

<table class="table table-bordered" id="dataTable" style="width:100%">
<thead>
  <tr>
    <th>ID</th>
    <th>Major Name</th>
    <th>Class Name</th>
    <th>Admin</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let majorClass of majorClasses">
    <td>{{majorClass?.major_class_id}}</td>
    <td>{{majorClass?.major?.major}}</td>
    <td>{{majorClass?.course?.subject}}&nbsp;{{majorClass?.course?.course}}</td>
    <td class="text-center">
      <a class="btn btn-primary" [routerLink]="['/majorClass/edit/', majorClass.major_class_id]">Edit</a>&nbsp;
      <button (click)="deleteMajorClass(majorClass.major_class_id)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
</tbody>
</table>
</section>