/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    padding-top: 60px;
}

table {
  margin-top: 10px;
  /* background-color: white; */
}

tr, td, th {
    background-color: rgba(108, 122, 202, 0.15);
    color: white;

}

h2 {
    color: white;
}

body {
    background-image: url("https://cdn-images-1.medium.com/max/2000/1*DHUHHOxGgYXfHJtCyLiz5Q.jpeg");    
    /* background-image: url("https://assets.lullabot.com/javascript-john_1.png"); */
}

.breadcrumb {
    background-color: rgba(255, 255, 255, .15);
    color: white;
}

.btn-primary{
    background-color: rgba(44, 88, 114, 0.59);
    color: white;
    border: solid 1px rgba(255, 255, 255, .25);
}

.btn {
border-radius: 0;
}

.btn-danger{
    background-color: rgba(187, 76, 76, 0.57);
    color: white;
}

.btn-add {
    background-color: rgba(76, 187, 76, 0.4);
    color: white;
}

.navbar-fixed-top {
    background-color: rgba(255, 255, 255, .15);
    color: white;
}

.navbar a {
    color: white;
}
.navbar a:hover {
    color: midnightblue;
    background-color: rgba(44, 88, 114, 0.59);
}

navbar li:active {
    color: midnightblue;
}

img {
    margin-left: -70px;
    margin-top: -10px;
}
/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
}